{% extends 'base.html.twig' %}

{% block body %}
    {% for category in category %}
        <div>
            <h1>{{ category.name }}</h1>
        </div>
    {% endfor %}
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("program_show", { slug: program.slug }) }}"> {{ program.title }}  </a> - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}