{% extends 'base.html.twig' %}

{% block title %}{{ actor.firstname }}{% endblock %}

{% block body %}
    <h1>{{ actor.firstname }}</h1>
    <div>
        <strong>Participe aux séries :</strong>
        <ul>
            {% for program in actor.programs %}
                <li><a href="{{ path('program_show', {slug: program.slug}) }}">{{ program.title }}</a></li>
            {% else %}
                <li>Aucune série associée</li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('actor_index') }}" class="btn btn-secondary">
        Retour à la liste des acteurs
    </a>
{% endblock %}